:root{
    --bleu-principal:#518CC4;
    --bleu-bordure:#1F5A92;
    --bleu-texte-1:#79B5EA;
    --bleu-fond:#BFCBE8;
    --orange:#D4603F;
    --gris-texte:#E0E0E0;
}
.dark-mode {
    --bleu-principal: #1E3A5F;
    --bleu-bordure: #162D49;
    --bleu-texte-1: #4A90E2;
    --bleu-fond: #1A1A1A;
    --orange: #FF5733;
    --gris-texte: #B0B0B0;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bleu-principal: #1E3A5F;
        --bleu-bordure: #162D49;
        --bleu-texte-1: #4A90E2;
        --bleu-fond: #1A1A1A;
        --orange: #FF5733;
        --gris-texte: #B0B0B0;
    }
}
*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bleu-fond);
}

.conteneur {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: var(--bleu-bordure);
    color: var(--gris-texte);
    padding: 20px;
    height: 100vh;
}

.profil-info {
    text-align: center;
    margin-bottom: 30px;
}

.profil-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sidebar h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: var(--gris-texte);;
    text-decoration: none;
    font-size: 1em;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.main-contenu {
    flex-grow: 1;
    padding: 20px;
}

header {
    background-color: var(--bleu-principal);
    padding: 10px;
    color: var(--gris-texte);;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: var(--gris-texte);;
    text-decoration: none;
    font-size: 1em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.profil-details {
    background-color: var(--gris-texte);;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.profil-details h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.profil-details table {
    width: 100%;
    border-collapse: collapse;
}

.profil-details table td {
    padding: 10px;
    border-bottom: 1px solid var(--gris-texte);;
}

.profil-details table td:first-child {
    font-weight: bold;
}


.projets-recents {
    background-color: var(--gris-texte);;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.projets-recents h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.projets-recents ul {
    list-style: none;
    padding: 0;
}

.projets-recents ul li {
    margin: 10px 0;
}
