:root{
    --bleu-principal:#518CC4;
    --bleu-bordure:#1F5A92;
    --bleu-texte-1:#79B5EA;
    --bleu-fond:#BFCBE8;
    --orange:#D4603F;
    --gris-texte:#E0E0E0;
}
*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header {
    display: flex;
}
header img {
    transition: 0.8s ease-in-out;
}
header #util:hover {
    content: url("../pictures/photoDeProfil2.png");
    position: relative;
    height: 100px;
    width: 100px;
    top: 130%;
}
header #logo:hover {
    content: url("../pictures/deco.png");
    position: relative;
    height: 75px;
    width: 75px;
    top: 125%;
}

header #logo {
position: relative;
height: 75px;
width: 75px;
top: 125%;
right:1720%;
}

header #util {
    position: relative;
    height: 60px;
    width: 60px;
    top: 40%;
    left: 92%;
}

.noms {
    max-height: 0;
    overflow: hidden; 
}
header{
    align-items: center;
    padding:10px;
    position: relative;
    height: 40px;
    background-color: var(--bleu-principal);
}
header > a {
    float: right;
    position: absolute;
    top:20%;
    right:10%;
}
nav{
    display: flex;
    background-color: var(--bleu-principal);
    padding: 1px;
}
nav > ul > li{
    position: relative;
    left: 10%;
    margin-left:30px;
    display: inline;
    
}
nav > ul > li > a {
    color:var(--gris-texte);
    font-weight: bold;
    text-transform: uppercase;
}
#maintenant{
    color: var(--orange);
    background-color:var(--bleu-fond);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 18px;
}
body {
    margin:0;
}
main{
    background-color: var(--bleu-fond);
}
footer{
    display: flex;
    background-color: var(--bleu-principal);
    height: 200px;
    border-top:1px solid var(--bleu-bordure);
}

footer #supportbouton{
    position: relative;
    left:950%;
    top:60%;
    font-weight: bold;
    background-color: var(--orange);
    border: 1px solid var(--bleu-bordure);
    margin: 10px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: var(--gris-texte);
    text-decoration: none;
}
footer #supportbouton:hover {
        cursor: pointer;
        border: 1px solid var(--bleu-bordure);
        background-color: var(--bleu-fond);
        text-decoration: none;
        color: var(--orange);
}
    
.conteneur {
    display: flex;
}
section{
    padding: 10px;
}
h1{
    text-align: center;
    color: var(--orange);
    font-size: 30px;
    text-decoration: underline;
}
article{
    padding: 5px;
    text-align: center;
}
input[type="checkbox"]:checked + .noms{
    transition: max-height 0.3s ease-out;
    max-height: 200px;
    border: 1px solid var(--bleu-bordure);
    padding:10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: var(--bleu-fond);
    text-align: center;
}

#BeauDiapo {
    position: relative;
	width: 30%;
	margin:auto;
	height: 400px;
	overflow: hidden;
    border: #D4603F solid;
    border-radius: 5%;
    left: 30%;
}
#BeauDiapo .diapo img{
	height: 400px;
	width: 25%;
}
#BeauDiapo .diapo{
	height: 400px;
	width: 400%;
	position: relative;
	animation-name: diaporama;
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-direction:inherit;
	animation-timing-function: linear;
}

@keyframes diaporama {
	from, 10% {
		right: 0;
	  }
  
	  30%, 40% {
		right: 100%;
	  }
  
	  60%, 70% {
		right: 200%;
	  }
  
	  90%, to {
		right: 300%;
	  }
}
