:root{
    --bleu-principal:#518CC4;
    --bleu-bordure:#1F5A92;
    --bleu-texte-1:#79B5EA;
    --bleu-fond:#BFCBE8;
    --orange:#D4603F;
    --gris-texte:#E0E0E0;
}

*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}
header #index {
    position: absolute;
    bottom:0;
    left:1%;
}
header #index img{
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}
header #index img:hover {
    content: url("../pictures/deco.png");
    transform: scale(1.1);
}
header #espaceClient {
    position: absolute;
    right: 1%;
    top: 0;
}
header #espaceClient img {
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}
header #espaceClient:hover img {
    content: url("../pictures/photoDeProfil2.png");
    transform: scale(1.1);
}

header{
    align-items: center;
    padding:10px;
    position: relative;
    height: 40px;
    background-color: var(--bleu-principal);
}
header > a {
    float: right;
    position: absolute;
    top:20%;
    right:10%;
}
nav{
    display: flex;
    background-color: var(--bleu-principal);
    padding: 1px;
}
nav > ul > li{
    position: relative;
    left: 20%;
    margin-left: 30px;
    display: inline;
    
}
nav > ul > li > a {
    color:var(--gris-texte);
    font-weight: bold;
    text-transform: uppercase;
}
.pageNonActive:hover {
    animation-name: survol;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
    
.pageNonActive:not(:hover) {
    animation-name: retour;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
    
    @keyframes survol {
        from {
            color: white;
        }
        to {
            color: var(--orange);
        }
    }
    
    @keyframes retour {
        from {
            color: var(--orange);
        }
        to {
            color: white;
        }
    }

    #pageActive{
        color: var(--orange);
        background-color:var(--bleu-fond);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 18px;
    }
    body {
        margin:0;
    }
    main{
        background-color: var(--bleu-fond);
    }
    .bigconteneur {
        display: flex;
        height: 438px;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: #BFCBE8;
        margin: 0;
        padding: 0;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    p {
        text-align: center;
        color: #555;
        margin-bottom: 20px;
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: #fff;
    }
    footer a img {
        margin: 0 10px;
        height: 30px;
        transition: transform 0.3s;
    }
    footer a img:hover {
        transform: scale(1.2);
    }
    
    footer{
        display: flex;
        background-color: var(--bleu-principal);
        height: 200px;
        border-top:1px solid var(--bleu-bordure);
    }
    footer #conteneurfooter {
        display: flex;
    }
    footer #supportbouton {
        position: relative;
        display: inline-block; 
        font-weight: bold;
        background-color: var(--orange);
        border: 1px solid var(--bleu-bordure);
        width: 120px;
        height: 40px;
        border-radius: 5px;
        color: var(--gris-texte);
        text-decoration: none;
        margin-left: 20px;
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease;
        left: 970%;
        top: 60%;
    }
    footer #imagediscord img {
        position: relative;
        margin: 0;          
        padding: 0;
        width: 50px;
        height: 40px;
        margin-right: 20px;
        top: 72%;
        right: 170%;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    footer #imagediscord img:hover {
        transform: scale(1.1);
    }
    footer #imagegithub img {
        position: relative;
        margin: 0;          
        padding: 0;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        top: 70%;
        right: 175%;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    footer #imagegithub img:hover {
        transform: scale(1.1);
    }
    footer a #liensupport{
        position: absolute;
        width: 120px;
        height: 40px;
        cursor: pointer;
        bottom:2%;
        right:3%;
    }
    footer #supportbouton:hover {
            transform: scale(1.1);
            background-color: var(--bleu-fond);
            color: var(--orange);
            animation-name: survol2;
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
            animation-direction: alternate;
    }
    footer #supportbouton:not(:hover) {
        cursor: pointer;
        border: 1px solid var(--bleu-bordure);
        background-color: var(--bleu-fond);
        animation-name: retour2;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
            
            @keyframes survol2 {
                from {
                    font-weight: bold;
                    background-color: var(--orange);
                    border: 1px solid var(--bleu-bordure);
                    margin: 10px;
                    border-radius: 5px;
                    color: var(--gris-texte);
                    text-decoration: none;
                }
                to {
                    border: 1px solid var(--bleu-bordure);
                    background-color: var(--bleu-fond);
                    color: var(--orange);
                }
            }
            @keyframes retour2 {
                from {
                    border: 1px solid var(--bleu-bordure);
                    background-color: var(--bleu-fond);
                    color: var(--orange);
                }
                to {
                    font-weight: bold;
                    background-color: var(--orange);
                    border: 1px solid var(--bleu-bordure);
                    margin: 10px;
                    border-radius: 5px;
                    color: var(--gris-texte);
                    text-decoration: none;
                }
            }
    